In [1]:
# -*- coding: utf-8 -*-
from oandapyV20 import API
from oandapyV20.exceptions import V20Error
from oandapyV20.endpoints.pricing import PricingStream
import oandapyV20.endpoints.orders as orders
import oandapyV20.endpoints.instruments as instruments

import json
import datetime
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta

import time


#自分のアカウント、トークンをセット
accountID = "101-009-16415310-001"
access_token = '860c2d2dbbcd01b6d95939b6af6b5981-8664724ce0870220c55161d704137df6'

api = API(access_token=access_token, environment="practice")
        
# Oandaからcandleデータを取得する。
def getCandleDataFromOanda(instrument, api, date_from, date_to, granularity):
    params = {
        "from": date_from.isoformat(),
        "to": date_to.isoformat(),
        "granularity": granularity,
    }
    r = instruments.InstrumentsCandles(instrument=instrument, params=params)
    return api.request(r)

def oandaJsonToPythonList(JSONRes):
    
    data = []
    for res in JSONRes['candles']:
        temp = [(datetime.datetime.fromisoformat(res['time'][:19])).strftime('%Y-%m-%d %H:%M')]#indexとなる時間を追加
        
        temp.extend([datetime.datetime.fromisoformat(res['time'][:19]).hour]) #時間を追加
                
        temp.extend([datetime.datetime.fromisoformat(res['time'][:19]).day])  #日を追加
        
        temp.extend([res['volume'],
            res['mid']['o'],
            res['mid']['h'],
            res['mid']['l'],
            res['mid']['c'],
            ])
        data.append(temp)
    return data




def select_data(year_from = 2000, month_from = 1, 
                year_to = 2020, month_to = 9,
                money='USD_JPY', foot = 'H1'):

    filename = str(year_from)+str(month_from)+"to"+str(year_to)+str(month_to)+"_"+money+"_"+foot+ ".csv"
    
    year_months = []

    for i in range(year_from,year_to+1):
        for j in range(month_from,month_to+1):
            temp = [i, j] 
            year_months.append(temp)
    
    
    all_data = []
    for year, month in year_months:
        date_from = datetime.datetime(year, month, 1)# +NY
        date_to = date_from + relativedelta(months=+1, day=1)# +NY

        ret = getCandleDataFromOanda(money, api, date_from, date_to, foot)
        month_data = oandaJsonToPythonList(ret)#取得したデータを格納

        all_data.extend(month_data)#データを追加

    # pandas DataFrameへ変換
    df = pd.DataFrame(all_data)


    df.columns = ['Datetime',"hour_range",
                  "day",
                  'Volume', 'Open', 'High', 'Low', 'Close']
    df = df.set_index('Datetime')
    
    df.to_csv(filename, mode = 'w')
    
    return df

select_data()

                  hour_range  day  Volume     Open     High      Low    Close
Datetime
2002-05-06 20:00          20    6       1  127.150  127.150  127.150  127.150
2002-05-07 20:00          20    7       1  127.920  127.920  127.920  127.920
2002-05-08 20:00          20    8       1  128.920  128.920  128.920  128.920
2002-05-09 20:00          20    9       1  128.380  128.380  128.380  128.380
2002-05-10 20:00          20   10       1  127.630  127.630  127.630  127.630
...                      ...  ...     ...      ...      ...      ...      ...
2020-09-30 23:00          23   30    1726  105.418  105.458  105.418  105.453
2020-10-01 00:00           0    1    2855  105.452  105.547  105.441  105.504
2020-10-01 01:00           1    1    2602  105.502  105.551  105.478  105.514
2020-10-01 02:00           2    1    1577  105.516  105.532  105.454  105.463
2020-10-01 03:00           3    1    2216  105.462  105.486  105.448  105.462

[77293 rows x 7 columns]

In [4]:
# -*- coding: utf-8 -*-
from oandapyV20 import API
from oandapyV20.exceptions import V20Error
from oandapyV20.endpoints.pricing import PricingStream
import oandapyV20.endpoints.orders as orders
import oandapyV20.endpoints.instruments as instruments

import json
import datetime
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta

import time


#自分のアカウント、トークンをセット
accountID = "101-009-16415310-001"
access_token = '860c2d2dbbcd01b6d95939b6af6b5981-8664724ce0870220c55161d704137df6'

api = API(access_token=access_token, environment="practice")
        
# Oandaからcandleデータを取得する。
def getCandleDataFromOanda(instrument, api, date_from, date_to, granularity):
    params = {
        "from": date_from.isoformat(),
        "to": date_to.isoformat(),
        "granularity": granularity,
    }
    r = instruments.InstrumentsCandles(instrument=instrument, params=params)
    return api.request(r)

def oandaJsonToPythonList(JSONRes):
    
    data = []
    for res in JSONRes['candles']:
        temp = [(datetime.datetime.fromisoformat(res['time'][:19])).strftime('%Y-%m-%d %H:%M')]#indexとなる時間を追加
        
        #temp.extend([datetime.datetime.fromisoformat(res['time'][:19]).hour]) #時間を追加
                
        #temp.extend([datetime.datetime.fromisoformat(res['time'][:19]).day])  #日を追加
        
        temp.extend([res['volume'],
            res['mid']['o'],
            res['mid']['h'],
            res['mid']['l'],
            res['mid']['c'],
            ])
        data.append(temp)
    return data




def select_data(year_from = 2000, month_from = 1, 
                year_to = 2020, month_to = 9,
                money='USD_JPY', foot = 'H1'):

    filename = str(year_from)+str(month_from)+"to"+str(year_to)+str(month_to)+"_"+money+"_"+foot+ ".csv"
    
    year_months = []

    for i in range(year_from,year_to+1):
        for j in range(month_from,month_to+1):
            temp = [i, j] 
            year_months.append(temp)
    
    
    all_data = []
    for year, month in year_months:
        NY = datetime.timedelta(hours=0)
        date_from = datetime.datetime(year, month, 1) +NY
        date_to = date_from + relativedelta(months=+1, day=1) +NY

        ret = getCandleDataFromOanda(money, api, date_from, date_to, foot)
        month_data = oandaJsonToPythonList(ret)#取得したデータを格納

        all_data.extend(month_data)#データを追加

    # pandas DataFrameへ変換
    df = pd.DataFrame(all_data)


    df.columns = ['Datetime',
                  'Volume', 'Open', 'High', 'Low', 'Close']
    df = df.set_index('Datetime')
    
    df.to_csv(filename, mode = 'w')
    
    return df

select_data(year_from = 2010, month_from = 1, 
                year_to = 2020, month_to = 9,
                money='USD_JPY', foot = 'D')

                  Volume     Open     High      Low    Close
Datetime
2009-12-31 22:00       3   93.069   93.069   93.047   93.047
2010-01-02 22:00     409   92.943   93.054   92.925   92.986
2010-01-03 22:00   27586   92.984   93.213   92.186   92.509
2010-01-04 22:00   29222   92.506   92.555   91.258   91.704
2010-01-05 22:00   29730   91.706   92.740   91.526   92.320
...                  ...      ...      ...      ...      ...
2020-09-24 21:00   63878  105.402  105.700  105.240  105.584
2020-09-27 21:00   60955  105.514  105.698  105.264  105.517
2020-09-28 21:00   70566  105.512  105.736  105.343  105.666
2020-09-29 21:00   85392  105.655  105.806  105.403  105.548
2020-09-30 21:00   81043  105.543  105.730  105.404  105.529

[2457 rows x 5 columns]